.new_posts {
    margin-top: 150px;
    margin-bottom: 150px;
}

.post input{
    width: calc(100% - 17px);
    height: 80px;
    background-color: lightblue;
    border: none;
    padding-left: 15px;
}

.post button{
    float: right;
    margin-top: 20px;
    background-color: violet;
    height: 40px;
    width: 200px;
}